html{
    overflow-x: hidden;
}
ul{
    margin: 0;
    padding: 0;
    margin-top: 10px;
}
ul li{
    list-style-type: none;
    margin: 8px 0;
}
h4{
    font-weight: bold;

}
.social-icon li{
    margin-right: 15px;
    background-color: rgb(76, 76, 205);
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    
}
.social-icon li:hover{
    background-color: aliceblue;
    color: black;
    transition: .3s;
}
footer{
    background-image: url('../../../images/footer-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.copyright p{
    margin-left: 5px;
    margin-bottom: 0;
}