.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    margin-left: 13px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}