.text-brand{
  color: #1cc7c1;
}
html{
  /* overflow: hidden; */
  box-sizing: border-box;
  }
ul, li{
  margin: 0;
  padding: 0;
}

.btn-brand{
  text-transform: uppercase;
  border-color: transparent;
  font-weight: 600;
  background-image: linear-gradient(#19D3AE, #0fcfec);
  border: none;
  color: white;
}