.make-appointment{
    background-image: url('../../../images/appointment-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    height: 420px;
    margin-top: 150px;
    
    
}
.make-appointment::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgb(35, 41, 73);
    opacity: .7;
    display: block;
    top: 0;
    
}
.make-appointment img{
    height: 550px;
    transform: translateY(-130px);
}